{% extends "index.html" %}
{% block content %}
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/home.css') }}">
</head>
<div class="home-container">
    <div class="home-text-container">
        <div class="welcome-text-container">
            <h2>Welcome to the Doodle Army 2: Mini Militia website.</h2>
            <p>This website is dedicated to the game Doodle army 2: Mini Militia, which is available on ios and android.
                On this website you can see some of the best Da2 players of all time, and you can also leave a mark by registering.
                Names on name wall are verified and only manually added by Super and Cript
            </p>
        </div>
    </div>
    <div class="create-event-container">
        <input name="event-title"></input>
    </div>
    <div class="top-tier-container">
        <h2 class="top-tier-title">Registered players</h2>
        {% for i in players %}
        <div class="player-container">
            <h2 class="player-name {{tiers[i[1]]}}">{{i[0]}}</h2>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}