{% extends "index.html" %}
{% block content %}
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/home.css') }}">
</head>
<div class="home-container">
    <div class="home-text-container">
        <h2>Welcome to the Doodle Army 2: Mini Militia website.</h2>
        <div class="welcome-text-container">
            <p>On this website you will be able to openly challenge other players to duel and 
                see pro players. </p>
        </div>
    </div>
    <div class="top-tier-container">
        <h2 class="top-tier-title">Top tier players</h2>
        {% for i in players %}
        <div class="player-container">
            <h2 class="player-name {{tiers[i[1]]}}">{{i[0]}}</h2>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}