
.home-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.top-tier-container {
    background-color: black;
    margin-right: 10px;
    border: 1px solid black;
    min-height: 500px;
    color: var(--main-color);
    width: 100%;
    max-width: 400px;
    h2 {
        text-align: center;
    }
}
.top-tier-title {
    color: yellow;
}
.welcome-text-container {
    padding: 10px;
}
.tier-container h3 {
    color: white;
    margin: 0px;
}
.tier-container {
    margin: 0px;
    max-width: 1000px;
    h1 {
        color: yellow;
    }
}
.home-content-container {
    background-color: black;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}