:root {
    --main-color: olivedrab;
    --profile-button-color: green;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit&family=Roboto+Mono&display=swap');
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;;
}

h1, h2, h3 {
    color: var(--main-color)
}

.topbar-container {
    a {
        text-decoration: none;
    }
    padding: 10px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    h1 {
        text-align: center;
        color: var(--main-color)
    }
}
.login-button-wrapper {
    margin-left: auto;
}
.login-button {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    margin-left: 5px;
    &:hover {
        background-color: transparent;
        color: var(--main-color)
    }
}
.profile-button {
    background-color: var(--profile-button-color);
    border: 2px solid var(--profile-button-color);
    &:hover {
        background-color: transparent;
        color: var(--profile-button-color)
    }

}
.button {
    color: white;
    transition: all 200ms;
    cursor: pointer;
    font-size: 20px;
    width: 130px;
    height: 40px;
}
.Owner {
    
    background: linear-gradient(to right, rgb(0, 255, 119) 0%, rgb(255, 0, 0) 25%, rgb(0, 255, 98) 50%, rgb(255, 72, 0) 75%, rgb(0, 255, 119) 100%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: shine 10s linear infinite;
    @keyframes shine {
      to {
        background-position: 200% center;
      }
    }
  }
.God {
    color: yellow;
}
.Elite {
    color: red;
}
.Pro {
    color: green;
}
.topbar-right-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    h2 {
        color: white;
        margin-right: 20px;
    }
}
.name-wall-wrapper {
    margin-left: 20px;
    h2 {
        color: red;
    }
}