@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit&family=Roboto+Mono&display=swap");
:root {
  --main-color: olivedrab;
  --profile-button-color: green;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  color: var(--main-color);
}

.topbar-container {
  padding: 10px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.topbar-container a {
  text-decoration: none;
}

.topbar-container h1 {
  text-align: center;
  color: var(--main-color);
}

.login-button-wrapper {
  margin-left: auto;
}

.login-button {
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  margin-left: 5px;
}

.login-button:hover {
  background-color: transparent;
  color: var(--main-color);
}

.profile-button {
  background-color: var(--profile-button-color);
  border: 2px solid var(--profile-button-color);
}

.profile-button:hover {
  background-color: transparent;
  color: var(--profile-button-color);
}

.button {
  color: white;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  cursor: pointer;
  font-size: 20px;
  width: 130px;
  height: 40px;
}

.Owner {
  text-shadow: 0em 0em 0.8em rgba(255, 230, 0, 0.781);
  background: -webkit-gradient(linear, left top, right top, from(#00ff77), color-stop(25%, red), color-stop(50%, #00ff62), color-stop(75%, #ff4800), to(#00ff77));
  background: linear-gradient(to right, #00ff77 0%, red 25%, #00ff62 50%, #ff4800 75%, #00ff77 100%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
}

@-webkit-keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.God {
  text-shadow: 0em 0em 0.5em white;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(40%, white), color-stop(60%, yellow), to(white));
  background: linear-gradient(to right, white 0%, white 40%, yellow 60%, white 100%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 6s linear infinite;
          animation: shine 6s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.Elite {
  color: #ff5100;
}

.Pro {
  color: green;
}

.topbar-right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.topbar-right-container h2 {
  color: white;
  margin-right: 20px;
}

.name-wall-wrapper {
  margin-left: 20px;
}

.name-wall-wrapper h2 {
  color: red;
}
/*# sourceMappingURL=index.css.map */