.name-wall-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    background-color: black;
    align-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.player-container {
    h2 {
        margin-top: 0px;
    }
    padding: 20px;
    margin: 10px;
}
.hall-of-fame-title {
    width: 100%;
    text-align: center;
    margin: 0px auto;
    color: yellow;
    margin-bottom: 50px;
    font-size: 50px;
}